@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

:root {
   font-family: "Lato", sans-serif;
   font-weight: 100;
   font-style: normal;
   --primary-color: #EE6E73;
   --secondary-color: #FFFFFF;
   --dark-color: #000000;
   --background-color: #16192A;
}


body {
   grid-template-areas: "header"
      "main"
      "productos"
      "footer";
   grid-template-rows: auto auto 1fr auto auto;
   grid-template-columns: 1fr;
   color: var(--text-color);

   header {
background-color: rgb(32, 105, 81);
width: 100%;
height: 100%;
margin: auto;
padding: 20px;
border: 5px solid blue;

      h2 {
         color: var(--secondary-color);
         padding: 0.5rem 1rem;
      }

      nav {
         font-weight: 400;

         ul {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            list-style: none;
            text-align: center;

            li {
               display: inline-block;
               padding: 0 1rem;

               a {
                  padding: 0.5rem 0.75rem;
                  text-decoration: none;
                  color: var(--secondary-color);
                  border: 1px solid var(--secondary-color);
                  border-radius: 10px;
                  transition: all 0.3s ease-in-out;
               }

               & a:hover {
                  font-weight: 500;
                  color: var(--primary-color);
                  background-color: var(--secondary-color);
                  border-radius: 10px;
               }
            }

            li:last-child {
               display: flex;
               align-items: center;
               justify-content: center;

               a {
                  border: none;
                  padding: 0.5rem;
                  position: relative;
               }

               a:hover {
                  border-radius: 50%;

                  .count {
                     color: var(--secondary-color);
                     background-color: var(--primary-color);
                     border: 1px solid var(--secondary-color);
                  }
               }

               .count {
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  font-size: 12px;
                  color: var(--primary-color);
                  background-color: var(--secondary-color);
                  padding: 0 0.25rem;
                  border: 1px solid var(--primary-color);
                  border-radius: 50%;
               }
            }
         }
      }
   }

   main {
      grid-area: main;
      background-image:url(../images/perros.jpg);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-blend-mode: lighten;
      height: 40vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: var(--secondary-color);
      text-shadow: 2px 1px 4px var(--background-color);
      border:5px solid var(--dark-color);

      h1 {
         padding-top: 1rem;
      }
   }
/* Sección de Donaciones */
.donations {
   background-color: #882e58;
   padding: 40px 10px;
   margin: 50px auto;
   border-radius: 8px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   max-width: 800px;
   text-align: center;
   width: 100%;
 
}


.donations h2 {
   font-size: 2rem;
   color: white;
   margin-bottom: 15px;
}

.donations p {
   font-size: 1rem;
   color: #555;
   margin-bottom: 20px;
}

.donation-form {
   display: flex;
   flex-direction: column;
   gap: 15px;
   padding: 20px;
   background-color: #f9f9f9;
   border-radius: 8px;
}

.donation-form label {
   font-size: 1rem;
   font-weight: bold;
   margin-bottom: 5px;
}

.donation-form input,
.donation-form textarea {
   padding: 10px;
   border: 1px solid #ddd;
   border-radius: 4px;
   font-size: 1rem;
   width: 100%;
}

.donation-form button {
   background-color: #882e58;
   color: white;
   font-size: 1.1rem;
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

.donation-form button:hover {
   background-color: #0e4134;
}

/* Sección de Contacto */
.contact {
   background-color: #882e58;
   padding: 40px 20px;
   margin: 50px auto;
   border-radius: 8px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   max-width: 800px;
   text-align: center;
   width: 100%;
   height: 100%;
}

.contact h2 {
   font-size: 2rem;
   color: white;
   margin-bottom: 15px;
}

.contact p {
   font-size: 1rem;
   color: #555;
   margin-bottom: 20px;
}

.contact-form {
   display: flex;
   flex-direction: column;
   gap: 15px;
   padding: 20px;
   background-color: #f9f9f9;
   border-radius: 8px;
}

.contact-form label {
   font-size: 1rem;
   font-weight: bold;
   margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
   padding: 10px;
   border: 1px solid #ddd;
   border-radius: 4px;
   font-size: 1rem;
   width: 100%;
}

.contact-form button {
   background-color: #882e58;
   color: white;
   font-size: 1.1rem;
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

.contact-form button:hover {
   background-color: #1b3b22;
}

/* Responsive */
@media (max-width: 768px) {
   .donations, .contact, .nutricion {
       padding: 20px;
       margin: 20px;
   }

   .donations h2, .contact h2 {
       font-size: 1.8rem;
   }

   .donation-form, .contact-form {
       padding: 15px;
   }
}

/*asesoramiento*/
 .asesoramiento{

   font-size: 1rem;
   color: rgb(235, 135, 135);
   margin-bottom: 10px;
 }  

/*nutricion*/

.nutricion {
   background-color: #882e58;
   padding: 40px 20px;
   margin: 50px auto;
   border-radius: 8px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   max-width: 800px;
   text-align: center;
   width: 100%;
   height: 100%;
}



.nutricion h2 {
   font-size: 2rem;
   color: white;
   margin-bottom: 15px;
}

.nutricion p {
   font-size: 1rem;
   color: #555;
   margin-bottom: 20px;
}

.nutricion-boton {
   background-color: #882e58;
   color: white;
   font-size: 1.1rem;
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

.nutricion-form button:hover {
   background-color: #1b3b22;
}



}



   section {
      grid-area: productos;
      text-align: center;
      color: var(--primary-color);
      margin-bottom: 2rem;
    
      h2 {
         margin: 2rem 0;
      }

      p {
         padding-top: 1rem;
         

      }

      .container {
         display: flex;
         flex-wrap: wrap;
         justify-content: space-evenly;

         .card {
            width: 250px;
            background-color: var(--secondary-color);
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            transition: all 0.3s ease;

            a {
               text-decoration: none;

               img {
                  width: 100%;
                  border-radius: .5rem 0.5rem 0 0;
                  transition: filter 0.3s ease-in-out;
               }

               img:hover {
                  filter: saturate(1);
               }

               .item {
                  width: auto;
                  margin-top: 1rem;

                  h3 {
                     font-size: 1.2rem;
                     margin-bottom: 0.5rem;
                     color: var(--background-color);
                  }

                  p:first-of-type {
                      padding: 0.60rem 0.20rem;
                     font-size: 0.9rem;
                     font-weight: 300;
                     line-height: 130%;
                     letter-spacing: 1px;
                     color: var(--background-color);
                  }

                  p:last-of-type {
                     padding: 0.60rem 0.20rem;
                     font-size: 1.2rem;
                     font-weight: 400;
                     line-height: 130%;
                     letter-spacing: 1px;
                     color: var(--background-color);
                  }
               }
            }

            button {
               padding: 0.20rem 0.70rem;
               background-color: var(--secondary-color);
               color: var(--primary-color);
               border: 1px solid var(--primary-color);
               border-radius: 10px;
               font-size: 1.2rem;
               margin-bottom: 1rem;
               transition: all 0.3s ease-in-out;
            }

            button:hover {
               background-color: var(--primary-color);
               color: var(--secondary-color);
               border: 1px solid var(--secondary-color);
               transform: scale(1.1);
            }
         }

         .card:hover {
            background: linear-gradient(to bottom right, #e0e0e0, #f0f0f0);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
            transform: scale(1.1) translateY(-5px);
         }
      }
   }

   .tableProduct {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: 0 auto;
      width: 40rem;

      .table {
         thead {
            background-color: var(--primary-color);
            color: var(--secondary-color);
            
            tr th {
               border-radius: 10px;
               padding: 0.5rem;
            }
         }

         tbody {
            background-color: var(--secondary-color);
            color: var(--background-color);
            font-weight: 500;

            tr td {
               border: 1px solid var(--background-color);
               border-radius: 10px;
               padding: 0.5rem;
            }
         }
      }

      p {
         font-size: 1.2rem;
         color: var(--dark-color);
         font-weight: 600;
         margin-top: 1rem;
         text-align: end;
      }
   }

   section {
      grid-area: asesoramiento;
      text-align: center;
      color: var(--primary-color);
      margin-bottom: 2rem;
    
      h2 {
         margin: 2rem 0;
      }

      p {
         padding-top: 1rem;
         

      }

   }

/* Estilo para el PDF incrustado */
#nutricion object, #nutricion embed {
   width: 100%;
   height: 400px; /* Altura ajustable */
   border-radius: 8px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
   #nutricion object, #nutricion embed {
       height: 300px; /* Reduce la altura en pantallas pequeñas */
   }
}

   footer {
      background-color: rgb(32, 105, 81);
      width: 100%;
      height: 100%;
      margin: auto;
      padding: 20px;
      border: 5px solid blue;
       display: flex;
      flex-direction: column;
      color: var(--secondary-color);
      text-shadow: 2px 1px 4px var(--background-color);

     
      .footer .footer-content {
         display: flex;
         justify-content: space-between; /* Espacio entre la dirección y redes sociales */
         align-items: center; /* Alineación vertical centrada */
         max-width: 1200px;
         margin: 0 auto;
       }
       
       .footer .address,
       .footer .social-media {
         margin-bottom: 0;
       }
       
       /* Estilo para la dirección */
       .footer .address p {
         margin: 5px 0;
       }
       
       /* Estilo para las redes sociales */
       .footer .social-media {
         text-align: right; /* Alineamos los enlaces a la derecha */
       }
       
       .footer .social-media a {
         text-decoration: none;
         color: #fff;
         margin: 0 10px;
         font-size: 16px;
         transition: color 0.3s;
       }
       
       .footer .social-media a:hover {
         color: #f39c12; /* Color de hover */
       }
       
       /* Estilo para la política de privacidad */
       .footer .privacy-policy a {
         text-decoration: none;
         color: #fff;
         font-size: 14px;
         transition: color 0.3s;
       }
       
       .footer .privacy-policy a:hover {
         color: #f39c12; /* Color de hover */
       }
       
       /* Responsive */
       @media (max-width: 768px) {
         .footer-content {
           flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
           text-align: left; /* Alinear los elementos a la izquierda */
         }
       
         .footer .social-media {
           margin-top: 10px;
           text-align: left; /* Alineación izquierda en pantallas pequeñas */
         }
       
         .footer .social-media a {
           display: inline-block;
           margin: 5px 0;
         }
       }     


      }
  }
